* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    padding: 1rem;
    background-color: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: aliceblue;
    text-decoration: none;
}

.hero{
    background-color: #e5e5e5;
}
.hero-con {
    display: flex;
    align-items: center; 
}

.hero-info {
    width: 100%;
    padding: 2rem;
}

.hero-info h3 {
    font-size: 2rem;
}

.hero-info p {
    margin: 1rem 0;
}

.hero-info .hero-btn {
    display:inline-block ;
    background-color: orange;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.hero-img {
    width: 100%;
    padding: 2rem;
}
.hero-img img {
    width: 50%;
    max-width: 400px;       
    display: block;
    margin-left: auto;       
}
 .blog-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem ;
 }
 .blog-title{
    margin: 2rem 0;
 }
.blog-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog-item {
    display: flex;
    flex-direction: column;
}

.blog-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.blog-item h4 {
    margin-top: 1rem;
    text-align: center;
}


.blog-itme p{
    margin: 1rem;
}
.blog-itme a{
    display: inline-block;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}